XfdServer/xfd.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:simpleType name="criticityLevel" final="restriction" >
    <xs:restriction base="xs:string">
        <xs:enumeration value="low" />
        <xs:enumeration value="medium" />
        <xs:enumeration value="high" />
    </xs:restriction>
</xs:simpleType>
  <xs:element name="Projects">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Project">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BuildConfigurations">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="BuildConfiguration">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="shortName" type="xs:string" use="required" />
                        <xs:attribute name="criticity" type="criticityLevel" use="required" />
                        <xs:attribute name="showTestCount" type="xs:boolean" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="Config">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="IterationConfig">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>